@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.question-title {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}